* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

button {
    background-color: #0095f6;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.insta-logo {
    margin-bottom: 20px;
}

.container-itens {
    width: 350px;
}

.container-imagens {
    position: relative;
}

.imagem-celular {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: opacity 2s ease-in-out;
}

.img-cel {
    width: 450px;
}

.forms {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    padding: 50px 40px 20px 40px;
}

input {

    height: 36px;
    outline: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
}

.login-facebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.esqueceu-senha {
    color: #385185;
    text-align: center;
    font-size: 13px;
    color: #00376B;
    text-decoration: none;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-cadastro {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.paragrafo-conta {
    font-size: 14px;
}

.paragrafo-app {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container-apps {
    display: flex;
    justify-content: center;
    gap:10px;
}

.logo-app {
    width: 150px;
}
